1.	Connect to the lesson.db database and sort chapter.db by age in descending order, as follows:

In [1]:
import sqlite3 
with sqlite3.connect("lesson.db") as conn: 
     cursor = conn.cursor()

In [2]:
cursor.execute("CREATE TABLE IF NOT EXISTS user (email text, first_name text, last_name text, address text, age integer, PRIMARY KEY (email))")

In [3]:
cursor.execute("INSERT INTO user VALUES ('bob@example.com', 'Bob', 'Codd', '123 Fantasy lane, Fantasy City', 31)") 
cursor.execute("INSERT INTO user VALUES ('tom@web.com', 'Tom', 'Fake', '456 Fantasy lane, Fantasy City', 39)")

In [4]:
conn.commit()

**Exercise03**

In [5]:
import sqlite3
with sqlite3.connect("lesson.db") as conn:
    cursor = conn.cursor()
    rows = cursor.execute('SELECT * FROM user ORDER BY age DESC')
    for row in rows:
        print(row)

('tom@web.com', 'Tom', 'Fake', '456 Fantasy lane, Fantasy City', 39)
('bob@example.com', 'Bob', 'Codd', '123 Fantasy lane, Fantasy City', 31)

2.	Sort the lesson.db database by age in ascending order, as follows:

In [6]:
with sqlite3.connect("lesson.db") as conn:
    cursor = conn.cursor()
    rows = cursor.execute('SELECT * FROM user ORDER BY age')
    for row in rows:
        print(row)

('bob@example.com', 'Bob', 'Codd', '123 Fantasy lane, Fantasy City', 31)
('tom@web.com', 'Tom', 'Fake', '456 Fantasy lane, Fantasy City', 39)